.sub1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 144px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 263px;
  height: 70px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.Typography_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 172px;

  width: 462px;
  height: 70px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.h_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 4px;
  gap: 5px;

  width: 24px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 260px;

  width: 462px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
